# MySQL properties
spring.datasource.url=jdbc:mysql://mysql:3306/jtweet_customermanagement?useSSL=false&allowPublicKeyRetrieval=true
spring.datasource.username=root
spring.datasource.password=root
# Server Port
server.port=8081
spring.application.name=UserManagement
jtweet.secret=jTweetSecret
jtweet.jwt.secret=jTweetSecret
jtweet.jwt.expiration=864000000